<div class="jumbotron">
  <h1>Heimdaller</h1>
  <p>This is the homepage for the app Heimdaller.</p>
  <p>Code is on <a href="https://github.com/andrewcsmith/heimdaller">Github</a>. Play with it at <%= link_to 'Characters', characters_path %>.</p>
</div>