.jumbotron
  %h1 Heimdaller
  %p This is the homepage for the app Heimdaller.
  %p 
    Code is on 
    = (link_to 'Github', 'https://github.com/andrewcsmith/heimdaller') + "." 
    Play with it at
    = (link_to 'Characters', characters_path) + "."